:root {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:global {
  .red {
    color: #aa0000;
  }

  .green {
    color: #00aa00;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  margin-top: 0;
  line-height: 1.2;
}

.page {
  background-image: linear-gradient(
    175deg,
    #f8f8f8 0px,
    #f8f8f8 800px,
    #fff 800px
  );
  background-repeat: no-repeat;
  padding: 48px 0;
}

.text {
  width: 50%;
  min-width: 320px;
  background: #fff;
  padding: 32px;

  &::after {
    content: "";
    background: #000;
    display: block;
    width: 120px;
    height: 12px;
    margin: 32px 0 8px;
  }
}

.header {
  text-align: center;

  h1 {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.2em 0.4em;
    font-size: 48px;
    font-weight: 600;
    transform: rotate(1deg);
  }
}

.image {
  max-width: 400px;
  max-height: 400px;
}

.section {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  .image {
    margin: 0 auto;
    box-shadow: 12px 12px #000;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  h1 {
    font-size: 32px;
  }

  p {
    margin: 0.5em 0;
  }

  ul {
    padding-left: 20px;
    list-style: square;

    li {
      margin-bottom: 0.2em;
    }
  }
}

@media (max-width: 768px) {
  .section {
    margin-bottom: 48px;
    &,
    &:nth-child(odd) {
      flex-direction: column;
    }
  }

  .text {
    width: 100%;
    margin-bottom: 24px;

    &::after {
      display: none;
    }
  }
}
